[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "lib/Arduino-Temperature-Control-Library"]
	path = lib/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git 
